body {
    background-color: #1D2951;
  }

/*ToolBar Code-Begins(Here)*/
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: grey;
      }
li {
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 3px;
      float: left;
      text-transform: uppercase;
      width: 25%;
      /*margin-left: 25px;*/
    }
li a {
      display: block;
      color: #FFFFFF;
      text-align: center;
      /*width: 33.33%;*/
      padding: 25px;
      text-decoration: none;
    }
li a:hover {
      background-color: lightblue;
    }

/*logo*/
.logobox {
  color: #FFFFFF;
  text-align: center;
  /*padding-bottom: 25px;*/
  font-family: 'Bowlby One SC', cursive;
  font-size: 64px;
  letter-spacing: 6px;
  margin-top: 1px;
  margin-bottom: 15px;
  }
/*Logo Image*/
#WillyPicture {
  margin: auto;
}

/*Whilly the Whale Title*/
h2 {
  color: gray;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 275%;
}

/*Container for article (includes title and text)*/
#paragraph {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  float: left;
  color: gray;
  background: white;
  padding: 10px;
  float: right;
  margin-bottom: 50px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
  line-height: 2.0;
}

/*Line that seperates Header from Article*/
hr {
  border-color: lightgrey;
}

/*Scratch Game Window*/
/*.gamecontain {
  width: 100%;
  outline: lightgray;
  outline-style: ridge;
  outline-width: 2px;
  padding: 10px;
  margin: 10px;
  height: auto;
}*/
#scratchgame {
  margin-left: 0%;
  float: right;
  width: 50%;
  margin-bottom: 10px;
  /*height: 450px;*/
  /*outline: lightgray;
  border-style: ridge;
  border-width: 2px;*/
}
.instructions {
  float: left;
  width: 45%;
  /*height: 400px;*/
  margin: 25px;
  font-family: 'Open Sans', sans-serif;
}

.infobox {
  width: 100%;
  float: left;
}
