body {
    background-color: #1D2951;
  }
/*Tool Bar Style Stuff from Here(begin)*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    }
  li {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    float: left;
    text-transform: uppercase;
    width: 33.33%;
    /*margin-left: 25px;*/
  }
  li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    /*width: 33.33%;*/
    padding: 25px;
    text-decoration: none;
  }
  li a:hover {
      background-color: lightblue;
  }
/*here(end)*/

  /*logo*/
  .logobox {
    color: #FFFFFF;
    text-align: center;
    /*padding-bottom: 25px;*/
    font-family: 'Bowlby One SC', cursive;
    font-size: 64px;
    letter-spacing: 6px;
    margin-top: 1px;
    margin-bottom: 15px;
  }
  h1 {
    color: #FFFFFF;
    text-align: center;
    padding: 100px 100px;
    padding-bottom: 0px;
    font-family: 'Bowlby One SC', cursive;
    font-size: 64px;
    letter-spacing: 6px;
  }
  #paragraph {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    float: left;
    color: grey;
    background: white;
    padding: 10px;
    float: right;
    margin-bottom: 50px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    text-indent: 80px;
    line-height: 2.0;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 275%;
    color: grey;
  }

  hr {
    border-color: lightgrey;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    float: left;
    text-transform: uppercase;
    color: grey;
  }
