body {
  background-color: #1D2951;
}

/*ToolBar Code-Begins(Here)*/
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: grey;
      }
li {
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 3px;
      float: left;
      text-transform: uppercase;
      width: 25%;
      /*margin-left: 25px;*/
    }
li a {
      display: block;
      color: #FFFFFF;
      text-align: center;
      /*width: 33.33%;*/
      padding: 25px;
      text-decoration: none;
    }
li a:hover {
      background-color: lightblue;
    }


/*logo*/
.logobox {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
  font-size: 64px;
  letter-spacing: 6px;
  margin-top: 1px;
  margin-bottom: 15px;
}

/*Logo Image*/
#WillyPicture {
}

/*Container for title and article*/
#paragraph {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  float: left;
  color: #1D2951;
  background: white;
  padding: 10px;
  float: right;
  margin-bottom: 50px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
  line-height: 2.0;
}

/*Ways to Help*/
h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 275%
  }
}

/*Line that seperates title and the article*/
hr {
  border-color: lightgrey;
}

/*the "Article" where all o fthe information is*/
p {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  float: left;
  text-transform: uppercase;
  color: grey;
}
h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 200%;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-size: 150%;
  color: grey;
  
}
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
<<<<<<< HEAD
#tiplist {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  float: left;
  text-transform: uppercase;
  color: lightgrey;
  background-color: transparent;
  indent: 10%;
}
li {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: grey;
  background-color: transparent;
  width: 95%;
  padding: 5px;
}
.waterchange{
  color: #778899;
  background: #778899;
  margin: 0px 0px 10px 0px;
  height: relative;
}
p.biostuff {
  color: #778899;
  font-family:  "Times New Roman", Times, serif;
  padding: 50px;
  float: right;
  margin-bottom: 100px;
  width: 95%;
}
=======

  #tiplist {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    float: left;
    text-transform: uppercase;
    color: lightgrey;
    background-color: transparent;
    indent: 10%;
  }

  li {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: grey;
    background-color: transparent;
    width: 95%;
    padding: 5px;

  }

  .waterchange{
    color: #778899;
    background: #778899;
    margin: 0px 0px 10px 0px;
    height: relative;
  }
  p.biostuff {
    color: #778899;
    font-family:  "Times New Roman", Times, serif;
    padding: 50px;
    float: right;
    margin-bottom: 100px;
    width: 95%;
  }
  img.waterpic {
    padding: 10px;
    width: 40%;
    display: block;
    height: auto;
    margin:auto;

  }
