body {
  background: #1D2951;
}

/*ToolBar Code-Begins(Here)*/
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: grey;
      }
li {
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 3px;
      float: left;
      text-transform: uppercase;
      width: 25%;
      /*margin-left: 25px;*/
    }
li a {
      display: block;
      color: #FFFFFF;
      text-align: center;
      /*width: 33.33%;*/
      padding: 25px;
      text-decoration: none;
    }
li a:hover {
      background-color: lightblue;
    }

/*logo*/
.logobox {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
  font-size: 64px;
  letter-spacing: 6px;
  margin-top: 1px;
  margin-bottom: 15px;
}

/*div for bios*/
.bio {
  color: #1D2951;
  background: #fff;
  margin: 0px 0px 10px 0px;
  height: relative;
  width: 95%;
}
p.biostuff {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  float: right;
  margin-bottom: 50px;
  width: 75%;
  letter-spacing: 0px;
}
img.biopic {
  padding: 10px;
  width: 20%;
  height: auto;
}
